html {
    font-family: "Ubuntu", sans-serif;
    padding: 1rem;
}

body {
    border: 1px solid #888a85;
    margin: auto;
    max-width: 60em;
}

h1 {
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

#main {
    background: #eeeeec;
    padding: 1rem;
}

#footer {
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 1rem;
    text-align: right;
}
